$focal_color = #018383
$contrast_color = #fe2d42	
$baseline_color = #B2B2A6
if $screenshot_mode
  $baseline_color = #B2B2A6

$web_opacity = .7

$focal_web_color = alpha($focal_color, $web_opacity)
$contrast_web_color = alpha($contrast_color, $web_opacity)
$baseline_web_color = alpha($baseline_color, $web_opacity)

$_darken = 0%
$focal_text_color = darken($focal_color, $_darken)
$contrast_text_color = darken($contrast_color, $_darken)

// mode for generating nice radar screenshots
$screenshot_mode = false
